#OurStory {
  padding: 100px 200px;
  @import "global.scss";
  p {
    font-size: 1.1rem;
    color: $paragraphColor;
    line-height: 1.8;
    margin: 0.5rem 0 2rem;
    font-weight: 300;
  }

  .quote {
    color: $paragraphColor;
    margin-bottom: 2rem;
    line-height: 1.8;
    font-weight: 300;
    strong {
      font-weight: 700;
      color: $blackTitle;

    }
  }
  .reserve-btn {
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    color: $blackTitle;
    text-transform: uppercase;
    font-family: 'Rozha One', sans-serif;
    transition: all .5s ease-in-out;

    &:hover {
      background: orange;
    }
  }
  .video-img {
    padding-left: 100px;
    img {
      height: 450px;
      padding-top: 60px;
    }
  }

}
